# EditorConfig is awesome: http://EditorConfig.org

# Top-most EditorConfig file
root = true

# General configuration for all files
[*]
indent_style = space
indent_size = 4
continuation_indent_size = 8
end_of_line = lf
charset = utf-8

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2
